@import "tailwindcss";
/*@import "tw-animate-css";*/

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Zen Maru Gothic Light";
  src: url("/fonts/zenmarugothic-light.woff2") format("woff2");
  font-weight: 300;   /* light */
  font-style: normal;
  font-display: swap;
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 9999px;
    transition: background-color 0.6s ease, transform 0.6s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #171717; 
    transform: scale(1.05);
  }
}


@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}

body.menu-open {
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides scrollbar on Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade-out 0.5s ease-in 2.2s forwards;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Oswald', serif;
}